<div class="container">
		<% @user.mangas.each_slice(6).with_index do |elem, row| %>
		<div class="row">
			<% elem.each_with_index do |element, column| %>
      <div class="two columns">
				<div class="manga-box">
				  <% if element.image == 'Not Available' %>
						<%= element.image %>
					<% else %>
						<div class="image-container">
						  <%= image_tag element.image, class: 'image-collection' %>
						</div>
		      <% end %>
					<label class="btn" for="<%= "#{row}-#{column}" %>" > <%= element.name %></label>
				</div>
	        <input class="modal-state" id="<%= "#{row}-#{column}" %>" type="checkbox" />
	        <div class="modal">
	          <label class="modal__bg" for="<%= "#{row}-#{column}" %>" ></label>
	          <div class="modal__inner">
	            <label class="modal__close" for="<%= "#{row}-#{column}" %>"></label>
	            <%= element.plot_summary %>
	            <div class='toggle' id='switch'>
	              <div class='toggle-text-off'>Favorite</div>
	              <div class='glow-comp'></div>
	              <div class='toggle-button'></div>
	              <div class='toggle-text-on'>Favorite</div>
	            </div>
            </div>
          </div>
      </div>
			<% end %>
		</div>
		<% end %>
</div>

