<% provide(:title, "Anime Search") %>
<div class="container">
	<%= form_tag(user_animes_path, :method => "get", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search For Anime" %>
	<%= submit_tag "Search" %>
	<% end %>

	<table class="u-full-width">
	  <thead>
	  <tr>
	    <th>Image</th>
	    <th>Name</th>
		  <th>Add to Collection</th>
	  </tr>
	  </thead>
	  <tbody>
	  <% @paginatable_animes.each do |elem| %>
	  <tr class="collection-add">
		  <% if elem.image == 'Not Available' %>
			    <td><div class="image-container-search"><%= image_tag "https://i.imgur.com/3vWYZyV.jpg", class: 'image' %></div></td>
			<% else %>
	    <td><div class="image-container-search"><%= image_tag elem.image, class: 'image' %></div></td>
			<% end %>
	    <td class="name-table"><%= elem.name %></td>
	    <td><%= link_to '', addcollection_user_anime_path(current_user.id, elem.id) , class: 'fa fa-plus-square-o fa-3x fa-collection', method: :post %></td>
	  </tr>
	  <% end %>
	  </tbody>
	</table>
	<%= paginate @paginatable_animes %>
	<%= page_entries_info @paginatable_animes %>
</div>