<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
		<ul id="nav-menu">
		<% unless user_signed_in? %>
		<li><%= link_to root_path, class: "home fa fa-home fa-2x" do %>
		    <span>Animanga</span>
				<% end %>
		</li>
	  <li><%= link_to 'Sign-Up', new_user_registration_path,class:"sign-up" %></li>
		<li><%= link_to 'Sign-In', new_user_session_path, class: "sign-in" %></li>
			<% else %>
	   <li><%= link_to 'Animanga', root_path, class: "home" %></li>
	   <li><%= link_to 'Sign-Out', destroy_user_session_path, method: :delete, class: "sign-out" %></li>
	    <li><%= link_to 'Manga', user_mangas_path(current_user.id), class: "manga" %></li>

			<% end %>
		</ul>
<%= yield %>

	<footer>
				<h6>Created by Jacob Mingus</h6>
	</footer>
</body>
</html>
