<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<% unless user_signed_in? %>
		<h1><%= link_to 'Animanga', root_path %></h1>
	  <h3><%= link_to 'Sign-Up', new_user_registration_path %></h3>
		<h3><%= link_to 'Sign-In', new_user_session_path %></h3>
			<% else %>
	   <h1><%= link_to 'Animanga', root_path %></h1>
	   <h3><%= link_to 'Sign-Out', destroy_user_session_path, method: :delete %></h3>
		 <h3 class="profile_name"><%= current_user.user_name%></h3>
	    <h3><%= link_to 'Manga', user_mangas_path(current_user.id) %></h3>

			<% end %>

	</nav>
<%= yield %>

	<footer>
				<h6>Created by Jacob Mingus</h6>
	</footer>
</body>
</html>
